
@{
    ViewData["Title"] = "ThankYou";
}
<style>
    #loadingScreen {
        display: none !important;
    }
</style>

<div class="card">
    <div class="card-body">
        <br />


        @if (ViewBag.QuarantineCounter < 0)
        {
            @if (ViewBag.TotalScore < 5)
            {
                <text>Dear </text> @ViewBag.EmployeeName<text>,
                    <br />
                    <br />
                    <p>Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>
                    <p>
                        The results show that you’re ALLOWED to report to work. Please continue observing proper hand hygiene and always wear your face mask and face shield and maintain appropriate distance from others. For any concern or assistance, contact your HR team: hrod@semirarampc.com
                    </p>
                    <p>
                        Stay safe!
                    </p>
                </text>


            }

            else
            {

                <text>Dear </text> @ViewBag.EmployeeName <text>,

                    <br />
                    <br />
                    <p>Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>
                    <p>
                        Your results show that you are NOT ALLOWED TO REPORT TO THE OFFICE. Please STAY AT HOME,
                        ISOLATE YOURSELF, UNDERGO THE MANDATORY QUARANTINE PERIOD (refer to the below quarantine guidelines and fit-to-work requirements), SEEK MEDICAL ADVISE, UNDERGO RT-PCR TEST.
                    </p>
                    <p>
                        FOR CONFIRMED RT-PCR/ANTIGEN POSITIVE – *10 DAYS   quarantine for asymptomatic, mild, moderate and *21 DAYS for severe and critical; to submit NEGATIVE RT-PCR, BHERT/MEDICAL CERTIFICATE; must be AT LEAST 3 CONSECUTIVE DAYS WITHOUT SYMPTOMS
                    </p>
                    <p>
                        FOR CLOSE CONTACT WITH SYMPTOMS – *7 DAYS quarantine, to submit NEGATIVE RT-PCR; must be AT LEAST 2 CONSECUTIVE DAYS WITHOUT SYMPTOMS
                    </p>
                    <p>
                        FOR CLOSE CONTACT WITHOUT SYMPTOMS – 7 DAYS quarantine; to submit NEGATIVE RT-PCR
                    </p>
                    <p>
                        FOR FLU-LIKE SYMPTOMS – *7 DAYS quarantine, to submit NEGATIVE RT-PCR; must be AT LEAST 2 CONSECUTIVE DAYS WITHOUT SYMPTOMS

                    </p>
                    <p>
                        If you have been vaccinated within the last 7 days, you may report to work upon submission of FIT TO WORK MEDICAL CLEARANCE/BHERT and SOFT COPY of your VACCINATION CARD to HROD.
                    </p>
                    <p>
                        *DAY 1 starts upon manifestation of symptoms
                    </p>
                    <p>
                        This information is also sent to your immediate supervisor.
                        Please expect HROD to communicate with you the soonest regarding your disclosure.
                        For any immediate assistance, reach out to HR Jonathan at 09277043557 /HR Cha at 09197989212  or through email: hrod@semirarampc.com

                    </p>
                </text>



            }

        }
        else if (ViewBag.QuarantineCounter == 0)
        {
            <text>Dear </text> @ViewBag.EmployeeName<text>
                ,
                <br />
                <br />
                <p> Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>
                <p>

                    @if (ViewBag.TotalScore < 5)
                    {
                        <text>
                        The results show that you’re ALLOWED to report to work. Please continue observing proper hand hygiene and always wear your face mask and face shield and maintain appropriate distance from others. For any concern or assistance, contact your HR team: hrod@semirarampc.com
                        </text>
                    }

                    <br />
                    <br />
                    Thank you for completing your 14-day quarantine period, kindly submit your BHERT Cert to HROD upon returning to work.
                </p>
                <p>
                    Stay safe!
                </p>
                </text>
         }
            else if (ViewBag.QuarantineCounter < 14)
            {
                <text>Dear </text> @ViewBag.EmployeeName<text>
                    ,
                    <br />
                    <br />
                    <p> Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>
                    <p>
                        You still have @ViewBag.QuarantineCounter number of days left for your quarantine period.
                    </p>
                    <p>
                        Stay safe!
                    </p>
                </text>
            }
            else
            {

                <text>Dear </text> @ViewBag.EmployeeName <text>,

                    <br />
                    <br />
                    <p>Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>
                    <p>
                        Your results show that you are NOT ALLOWED TO REPORT TO THE OFFICE. Please STAY AT HOME,
                        ISOLATE YOURSELF, UNDERGO THE MANDATORY QUARANTINE PERIOD (refer to the below quarantine guidelines and fit-to-work requirements), SEEK MEDICAL ADVISE, UNDERGO RT-PCR TEST.
                    </p>
                    <p>
                        FOR CONFIRMED RT-PCR/ANTIGEN POSITIVE – *10 DAYS   quarantine for asymptomatic, mild, moderate and *21 DAYS for severe and critical; to submit NEGATIVE RT-PCR, BHERT/MEDICAL CERTIFICATE; must be AT LEAST 3 CONSECUTIVE DAYS WITHOUT SYMPTOMS
                    </p>
                    <p>
                        FOR CLOSE CONTACT WITH SYMPTOMS – *7 DAYS quarantine, to submit NEGATIVE RT-PCR; must be AT LEAST 2 CONSECUTIVE DAYS WITHOUT SYMPTOMS
                    </p>
                    <p>
                        FOR CLOSE CONTACT WITHOUT SYMPTOMS – 7 DAYS quarantine; to submit NEGATIVE RT-PCR
                    </p>
                    <p>
                        FOR FLU-LIKE SYMPTOMS – *7 DAYS quarantine, to submit NEGATIVE RT-PCR; must be AT LEAST 2 CONSECUTIVE DAYS WITHOUT SYMPTOMS

                    </p>

                    <p>
                        If you have been vaccinated within the last 7 days, you may report to work upon submission of FIT TO WORK MEDICAL CLEARANCE/BHERT and SOFT COPY of your VACCINATION CARD to HROD.
                    </p>
                    <p>
                        *DAY 1 starts upon manifestation of symptoms
                    </p>
                    <p>
                        This information is also sent to your immediate supervisor.
                        Please expect HROD to communicate with you the soonest regarding your disclosure.
                        For any immediate assistance, reach out to HR Jonathan at 09277043557 /HR Cha at 09197989212  or through email: hrod@semirarampc.com

                    </p>
                </text>
            }







        <div class="col-md-12 row">

            <canvas id="qr"></canvas>




        </div>




    </div>
    <div class="col-md-12 row">
        <div class="col-md-6" style="text-align:left;">
            <a href="@Url.Action("Index","Home")">Go Back to Main Page</a>
        </div>
        <div class="col-md-6" style="text-align:right;">
            <strong>@ViewBag.ScreenDateTime</strong>
        </div>
    </div>


</div>


<script src="~/js/core/jquery.min.js"></script>
<script src="~/js/plugins/qrious.js"></script>




<script>



    $(function () {

        var dt = moment('@ViewBag.ScreenDateTime').format("MMDDYYYYHHmmss");
        var quar = 0;
        if (@ViewBag.QuarantineCounter < 1) {
            quar = '0'
        } else {
            quar = '1'
        }

        var qr = new QRious({
             element: document.getElementById('qr'),
             value: '@ViewBag.ScreenLogId-' + dt + '-@ViewBag.TotalScore-' + '@ViewBag.EmployeeNo-'+ quar
        })



        $.post("@Url.Action("SendFinalNotification", "Home")",
            {
              EmployeeName: '@ViewBag.EmployeeName'
            , TotalScore: @ViewBag.TotalScore
            , Remarks: '@ViewBag.Remarks'
            , Encoder: '@ViewBag.Encoder'
            , ScreenLogId: '@ViewBag.ScreenLogId'
            , DepartmentId: @ViewBag.DepartmentId }
            , function(data, status){
                    console.log(data);
            }
        );




    });
</script>



