
@{
    ViewData["Title"] = "ThankYou";
}
<style>
    #loadingScreen {
        display: none !important;
    }
</style>

<div class="card">
    <div class="card-body">
        <br />


        @if (ViewBag.QuarantineCounter < 0)
        {
            @if (ViewBag.TotalScore == 0)
            {
                <text>Dear </text> @ViewBag.EmployeeName<text>,
                    <br />
                    <br />
                    <p>Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>
                    <p>
                        The results show that you’re FIT to report to work. Please continue observing proper hand hygiene and always wear your face mask and face shield and maintain appropriate distance from others. For any concern or assistance, contact your HR team: hrod@semirarampc.com
                    </p>
                    <p>
                        Stay safe!
                    </p>
                </text>


            }
            else if (ViewBag.TotalScore == 1)
            {
                <text>Dear </text> @ViewBag.EmployeeName <text>,
                    <br />
                    <br />
                    <p>Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>
                    <p>
                        Your results show that you have LOW risk and are ALLOWED TO REPORT TO THE OFFICE. Please monitor your health and consult a Doctor, preferably Medicard affiliated, if your condition/symptom gets worse.
                        Please continue observing proper hand hygiene and always wear your face mask and face shield and maintain appropriate distance from others.
                        For any assistance, reach out to HR Jonathan at 09985974855/HR Cha at 09197989212 or through email: hrod@semirarampc.com

                    </p>
                </text>



            }
            else
            {
                @if (ViewBag.TotalScore <= 3)
                {
                    <text>Dear </text> @ViewBag.EmployeeName <text>,
                        <br />
                        <br />
                        <p>Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>

                        <p>
                            Your results show that you have MODERATE risk and are NOT ALLOWED TO REPORT TO THE OFFICE FOR 14 DAYS.  Please STAY AT HOME, ISOLATE YOURSELF AND UNDERGO THE MANDATORY 14-DAY QUARANTINE PERIOD. Please monitor your health condition and consult a Doctor, preferably Medicard affiliated, if your condition/symptom gets worse.
                            This information is also sent to your immediate supervisor.
                            For any assistance, reach out to HR Jonathan at 09985974855 /HR Cha at 09197989212 or through email: hrod@semirarampc.com
                        </p>
                    </text>



                }
                else
                {
                    <text>Dear </text> @ViewBag.EmployeeName <text>,

                        <br />
                        <br />
                        <p>Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>
                        <p>
                            Your results show that you have HIGH risk and are NOT ALLOWED TO REPORT TO THE OFFICE FOR 14 DAYS. Please STAY AT HOME, ISOLATE YOURSELF AND UNDERGO THE MANDATORY 14-DAY QUARANTINE PERIOD. Please monitor your health, consult a Doctor, preferably Medicard affiliated.

                            Submission of medical clearance is required before reporting to the office. This information is also sent to your immediate supervisor.
                            Please expect HROD to communicate with you the soonest regarding your disclosure.
                            For any immediate assistance, reach out to HR Jonathan at 09985974855 /HR Cha at 09197989212  or through email: hrod@semirarampc.com

                    </text>


                }

            }
        }
        else if (ViewBag.QuarantineCounter == 0)
        {
        <text>Dear </text> @ViewBag.EmployeeName<text>
            ,
            <br />
            <br />
    <p> Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>
    <p>

        @if (ViewBag.TotalScore == 0)
        {
            <text>
                The results show that you’re FIT to report to work. Please continue observing proper hand hygiene and always wear your face mask and face shield and maintain appropriate distance from others. For any concern or assistance, contact your HR team: hrod@semirarampc.com
            </text>
        }
        else if (ViewBag.TotalScore == 1)
        {
            <text>
                Your results show that you have LOW risk and are ALLOWED TO REPORT TO THE OFFICE. Please monitor your health and consult a Doctor, preferably Medicard affiliated, if your condition/symptom gets worse.
                Please continue observing proper hand hygiene and always wear your face mask and face shield and maintain appropriate distance from others.
                For any assistance, reach out to HR Jonathan at 09985974855/HR Cha at 09197989212 or through email: hrod@semirarampc.com

            </text>
        }
        <br />
        <br />
        Thank you for completing your 14-day quarantine period, kindly submit your BHERT Cert to HROD upon returning to work.
    </p>
    <p>
        Stay safe!
    </p>
    </text>
    }
    else if (ViewBag.QuarantineCounter < 14)
    {
    <text>Dear </text> @ViewBag.EmployeeName<text>
        ,
        <br />
        <br />
        <p> Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>
        <p>
            You still have @ViewBag.QuarantineCounter number of days left for your quarantine period.
        </p>
        <p>
            Stay safe!
        </p>
    </text>
    }
    else
    {
    @if (ViewBag.TotalScore <= 3)
    {
        <text>Dear </text> @ViewBag.EmployeeName <text>,
            <br />
            <br />
            <p>Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>

            <p>
                Your results show that you have MODERATE risk and are NOT ALLOWED TO REPORT TO THE OFFICE FOR 14 DAYS.  Please STAY AT HOME, ISOLATE YOURSELF AND UNDERGO THE MANDATORY 14-DAY QUARANTINE PERIOD. Please monitor your health condition and consult a Doctor, preferably Medicard affiliated, if your condition/symptom gets worse.
                This information is also sent to your immediate supervisor.
                For any assistance, reach out to HR Jonathan at 09985974855 /HR Cha at 09197989212 or through email: hrod@semirarampc.com
            </p>
        </text>



    }
    else
    {
        <text>Dear </text> @ViewBag.EmployeeName <text>,

            <br />
            <br />
            <p>Thank you for promptly completing and honestly disclosing your condition in our Daily Health Monitoring Tool.</p>
            <p>
                Your results show that you have HIGH risk and are NOT ALLOWED TO REPORT TO THE OFFICE FOR 14 DAYS. Please STAY AT HOME, ISOLATE YOURSELF AND UNDERGO THE MANDATORY 14-DAY QUARANTINE PERIOD. Please monitor your health, consult a Doctor, preferably Medicard affiliated.

                Submission of medical clearance is required before reporting to the office. This information is also sent to your immediate supervisor.
                Please expect HROD to communicate with you the soonest regarding your disclosure.
                For any immediate assistance, reach out to HR Jonathan at 09985974855 /HR Cha at 09197989212  or through email: hrod@semirarampc.com

        </text>


    }

    }







    <div class="col-md-12 row">

        <canvas id="qr"></canvas>




    </div>




    </div>
<div class="col-md-12 row">
    <div class="col-md-6" style="text-align:left;">
        <a href="@Url.Action("Index","Home")">Go Back to Main Page</a>
    </div>

    <div class="col-md-6" style="text-align:right;">
        @*<strong>@DateTime.Now.ToLocalTime()</strong>*@
        <strong>@ViewBag.ScreenDateTime</strong>
    </div>

</div>


</div>


<script src="~/js/core/jquery.min.js"></script>
<script src="~/js/plugins/qrious.js"></script>




<script>



    $(function () {
        var dt = moment('@ViewBag.ScreenDateTime').format("MMDDYYYYHHmmss");
        var quar = 0;
        if (@ViewBag.QuarantineCounter < 1) {
            quar = '0'
        } else {
            quar = '1'
        }

        var qr = new QRious({
            element: document.getElementById('qr'),
            @*value: 'https://www.semirarampc.com:8443/ScreeningTool/Home/Verification?id=' + '@ViewBag.QRKey'*@
             value: '@ViewBag.ScreenLogId-' + dt + '-@ViewBag.TotalScore-' + '@ViewBag.EmployeeNo-'+ quar

        })

        $.post("@Url.Action("SendFinalNotification", "Home")",
            { EmployeeName: '@ViewBag.EmployeeName'
            , TotalScore: @ViewBag.TotalScore
            , Remarks: '@ViewBag.Remarks'
            , Encoder: '@ViewBag.Encoder'
            , ScreenLogId: '@ViewBag.ScreenLogId'
            , DepartmentId: @ViewBag.DepartmentId }
            ,function(data, status){
            console.log(data);
            }
        );




    });
</script>



